@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">welcome!</h1>
    
    <p><img src="~/image/sofa.jpg" alt="sofa photo"  /></p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
